node_modules

data.*.json
eventTypes.json
usernames.json
levelReached.json
reachedAtLeastLevel3.json
timeUntilFirstPass.json
timeUntilActivation.json
attemptsUntilFirstPass.json
attemptsUntilActivation.json
